body {
    margin: 0;
    padding: 1rem;
    background-color: black !important;
}

.container {
    border: solid white thin;
    width: 100%;
    height: 165px;
    background-color: black !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    color: white;
    font-weight: bold;
    font-size: 8rem;
}